<div class="dev detailContent">
	<div class="thirdCol">
		<h2>Tools</h2>
		<ul>
			<li>Visual Studio</li>
			<li>ReSharper</li>
			<li>XCode</li>
			<li>Aptana Studio</li>
			<li>MonoDevelop</li>
			<li>Illustrator / Photoshop</li>
			<li>Git / TFS</li>
		</ul>
	</div>
	<div class="thirdCol">
		<h2>Techniques</h2>
		<ul>
			<li>Object Oriented Analysis</li>
			<li>Domain Driven Design</li>
			<li>Layered Architecture</li>
			<li>
				Test / Behaviour Driven Development
				<ul>
					<li>Funcunit</li>
					<li>QUnit</li>
					<li>NUnit</li>
					<li>MSpec</li>
					<li>Rhinomocks</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="thirdCol">
		<h2>Languages</h2>
		<ul>
			<li>c#</li>
			<li>Javascript</li>
			<li>Objective-c</li>
			<li>VBA (lol)</li>
			<li>LISP</li>
			<li>LOGO (Turtle MVP pending)</li>
		</ul>
	</div>
</div>