<div class="git detailContent">
	<div class="halfCol">
		<h2>My Github</h2>
		<p>
			I have a github account, not everything on it is very good.
		</p>

	</div>
	<div class="halfCol">
		<div id="repoContainer" class="scrollContainer">
		</div>
	</div>
</div>