<div class="git detailContent">
	<div class="halfCol">
		<h2>My Github</h2>
		<p>
			I have a github account, not everything on it is very good.
		</p>

	</div>
	<div class="halfCol">
		<div class="spinContainer">
			<span class="spin loader"></span>
		</div>
		<div id="repoContainer" class="scrollContainer" style="display:none;">
		</div>
	</div>
</div>