<div class="web detailContent">
	<div class="thirdCol">
		<h2>Server</h2>
		<ul>
			<li>ASP .NET MVC 3</li>
			<li>c# .NET 4</li>
			<li>CakePHP</li>
			<li>Entity Framework 4</li>
			<li>NHibernate</li>
			<li>SQL Server</li>
		</ul>
		<h2>Client</h2>
		<ul>
		    <li>HTML / CSS / LESS</li>
			<li>Javascript</li>
			<li>jQuery</li>
			<li>JMVC</li>
			<li>Knockoutjs</li>
			<li>Silverlight</li>
		</ul>
	</div>
	<div class="twoThirdsCol">
		<div id="mapContainer">
			<div id="map" style="position:absolute;width:321px;height:466px;float:left;">		
			</div>
			<div id="mapSearch" style="display:none;">
	
			</div>
		</div>
	</div>
</div>