/*
 * Fonts
 */
.sansSerifBold{
  font-family:"Unicod Sans Regular", Arial, sans-serif; font-size-adjust:0.55; font-weight:normal; font-style:normal;
 }

.fancyFont{
  font-family: MuseoSlab-500;
  font-weight: normal;
  font-style: normal;
}


 @font-face {font-family: 'MuseoSlab-500';src: url('webfonts/1FDFA8_0_0.eot');src: url('webfonts/1FDFA8_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/1FDFA8_0_0.woff') format('woff'),url('webfonts/1FDFA8_0_0.ttf') format('truetype');}
 
/*
 * Colours
 */

@black : #000;
@white: #fff;
@darkBlue: #046;
@lightBlue: #3BF;
@beige:#EEDEAF;

@darkText: #333;

@mobileColor:#688E99;
@webColor:#BF7B45;
@devColor:#688536;
@aboutColor:#a14d3f;
@jobColor:#8A3034;
@gitColor:#253A4A;

/*
 *  Numbers
 */

@headerHeight:50px;
@pageWidth:924px;
@pageHeight:656px;
@pageInset:50px;
@generalMargin:40px;
@contentWidth:@pageWidth -  @pageInset * 2;
@tileWidth : (@contentWidth - (6 * @menuPadding) - (4 * @menuTileMargin) - 6) / 3;
@detailWidth : @contentWidth - ((@menuMargin * 2) + (@menuBorderWidth * 2));
@menuMargin: 20px;
@menuBorderWidth: 1px;
@menuPadding: 10px;
@menuTileMargin: 20px;
@menuWidth:@pageWidth -  @pageInset * 2;
@menuSelectedHeight: 10px;

/*
 * Generic Classes
 */

.smallBorderRadius{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.largeBorderRadius{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.largeDropShadows{
  -moz-box-shadow: 0 0 8px @black;
  -webkit-box-shadow: 0 0 8px @black;
  box-shadow: 0 0 8px @black; 
}

.smallDropShadows{
  -moz-box-shadow: 0 0 2px @black;
  -webkit-box-shadow: 0 0 2px @black;
  box-shadow: 0 0 2px @black; 
}

.microDropShadows{
  -moz-box-shadow: 0 0 1px @black;
  -webkit-box-shadow: 0 0 1px @black;
  box-shadow: 0 0 1px @black; 
}

.blueBackground{
  background-image:url('./assets/header-bg.jpg');
}

.verticalGradient(@topColor: #fff, @bottomColor: #000){
/*
  filter: ~"progid: DXImageTransform.Microsoft.gradient(startColorstr = '{@topColor}', endColorstr = '{@bottomColor}')";

  -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '@topColor', endColorstr = '@bottomColor')";
*/
  background-image: -moz-linear-gradient(top, @topColor, @bottomColor);
  background-image: -ms-linear-gradient(top, @topColor, @bottomColor);
  background-image: -o-linear-gradient(top, @topColor, @bottomColor);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@topColor), to(@bottomColor));
  background-image: -webkit-linear-gradient(top, @topColor, @bottomColor);
  background-image: linear-gradient(top, @topColor, @bottomColor);
}

.blueVerticalGradient(){
  .verticalGradient(@darkBlue, @lightBlue);
}

.shadowForDarkBlueText{
    text-shadow: 0 1px 1px  darken(desaturate(@lightBlue, 30%),10%);
}

.clear{
  clear:both;
}
.right{
  float:right;
}
.left{
  float:left;
}

.solidBorder(@width: 1px){
  border-style:solid;
  border-width:@width;
}

.noBorder{
  border-width:0px;
  border-style:hidden;
}

/*
 * Core elements
 */

body{
  //font-family: 'Raleway', cursive;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin:0;
  line-height:22px;
  margin:0 auto;
  background-image:url('./assets/header-bg.png');
}

ul{
  padding:0 0 0 20px;
}
p{
  margin-before:0px;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
hr{
  border:none;border-top:1px dotted #000;
}
iframe{
  .noBorder;
}

/*
 * Custom Classes
 */
.header{
  color:@darkBlue;
  text-shadow: 0 1px 1px  darken(desaturate(@lightBlue, 30%),10%);
 .verticalGradient(@lightBlue, @darkBlue);
  box-shadow: rgb(0, 0, 0) 0px 0px 8px;
  margin-bottom: @generalMargin;
  padding: 8px;
  
  h1{
    font-family: "Museo Slab", Rockwell, Georgia, serif;
    font-weight: 400;
    font-style: normal;
    display: inline;
    font-size: 34px;
    margin-left: 10px;
    line-height: 30px;
    letter-spacing: -2px;
  }
  
  .helpButton{
    height:20px;
    width:20px;
    background-color:@darkBlue;
    .smallBorderRadius;
    .right;
    color:@lightBlue;
    text-align: center;
    .fancyFont;
    margin-top: 5px; 
    .microDropShadows;
    cursor:pointer;
  }
  .helpButton:hover{
    background-color:@lightBlue;
    color:@darkBlue;
  }
}

.page{
  .largeDropShadows;
  .largeBorderRadius;
  width: @pageWidth;
  height:@pageHeight;
  border-width:2px;
  border-style:solid;
  border-color:silver;  
  margin-left: auto;
  margin-right: auto;
  background-color: @black;
  font-size: 22px;
}

#content{
  .smallBorderRadius;
  .verticalGradient(@beige, lighten(@beige, 10%));
  background-image:url('./assets/paperbg.jpg');
  width:@contentWidth;
  height:@pageHeight -  @pageInset * 2;
  margin:@pageInset;
  border-color: #222;
  border-width: 1px;
  border-style: solid;
  color:@white;
}

.footer{
  .largeDropShadows;
  margin-top:@generalMargin;
  color: @darkBlue;
  .blueVerticalGradient;
  padding: 5px;
  h4{
    .sansSerifBold;
    margin:0px;
    float:right;
    .shadowForDarkBlueText;
  }
}

.tile(@color){
  border-color: @color;
  background-color:desaturate(@color, 40%);
  color:#aaa;
  text-shadow: 0px 1px 1px #333;
  &.hover{
    border-color: darken(@color, 30%);
    background-color: saturate(@color, 5%);
    color:#ddd;
  }
  &.selected{
    border-color: @color;
    background-color:@color;
    color:#ddd;  
  }
}

#detailContainer{
  clear:both;
  display:none;
  width:@detailWidth;
  height:@pageHeight - (2* @pageInset);
  margin: @menuMargin;
  border-radius: 3px;
  font-size:16px;
  background:none;
  text-shadow: 0px -1px 0px #EEE;
}

.col{
    overflow-y:hidden;
    height:@pageHeight - (2 * @pageInset) - @menuSelectedHeight - (4 * @menuMargin);
}

.halfCol{
  width:@detailWidth / 2;
  float:left;
  .col;
}
.thirdCol{
  width:@detailWidth / 3;
  float:left;
  .col;
}
.twoThirdsCol{
  width:@detailWidth * (2/3);
  float:left;
  .col;
}



.scrollContainer {
  @scrollWidth: 7px;
  height:100%;
  .viewport { 
    height: 100%; 
    overflow: hidden;
    position: relative;
  }
  .overview { 
    list-style: none; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%;
  }
  .scrollbar { 
    position: relative; 
    float: right; 
    width: @scrollWidth;
    margin-left:10px;
  }
  .track { 
    height: 100%; 
    width:@scrollWidth;
    position: relative; 
    padding: 0 1px;
    .smallBorderRadius;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom:2px;
  }
  .thumb { 
    margin-top:1px;
    margin-bottom:1px;
    height: 20px; 
    width: @scrollWidth;
    cursor: pointer; 
    overflow: hidden; 
    position: absolute; 
    top: 0;
    .smallBorderRadius;
    }
  .disable{ 
    display: none; 
  }
}

.section(@color){
  .tile(@color);
  &.detailContent{
    color:@darkText;
    text-shadow: 0px -1px 0px #eee;
    a{
      color:@color;
    }
    h2{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-right: 10px;
      padding-bottom: 7px;
      border-color:lighten(@color, 15%);
    }
    .thumb{
      .verticalGradient(darken(@color, 10%), @color);
    }
    .track{
      .verticalGradient(fade(@color, 30%), fade(@color, 20%));
      border-color:lighten(@color, 5%);
    }
    .tweet, .repo, .jobCell{
      color:@darkText;
      background-color:fade(@color, 10%);
      border-color:darken(@color, 15%);
    }
    .jobCell:hover{
      h3{
        color:@color;
      }
    }
  }
}

 .mobile{
   .section(@mobileColor);
  }
  .web{
    .section(@webColor);
  }
  .dev{
    .section(@devColor);
  }
  .about{
    .section(@aboutColor);
  }
  .job{
    .section(@jobColor);
  }
  .git{
    .section(@gitColor);
  }

#menu{
  
  width: @menuWidth;

  .square{
    width: @tileWidth;
    height: @tileWidth;
    cursor:pointer;
    display:none;
  }
  
  .selected{
    height:@menuSelectedHeight;
  }
  
  div{
    float:left;
    margin: @menuTileMargin;
    margin-right: 0px;
    margin-bottom: 0px;
    .smallBorderRadius;
    border-width: @menuBorderWidth;
    border-style: solid;
    text-align: right;
    padding: @menuPadding;
    .fancyFont;
    letter-spacing: -2px;
    line-height:10px;
  }
  
  .clear{
    width:0px;
    height:0px;
    display:none;
  }
  
  .deselected{
    width:0px;
    height:0px;
    font-size:0px;
    padding:0px;
  }
  
  .stage2{
    width:@detailWidth - 2 * @menuPadding;
    height:10px;
    float: none;
  }
}
 
#twitterContainer{
  
  #twitterHeader{
    height: 30px;
  }
  
  .tweet{
    text-shadow: none;
    clear: both;
    margin-bottom:5px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    height: 60px;
    line-height: 15px;
    .smallBorderRadius;
    .tweetImage{
      float:left;
      margin-right: 5px;
      width:48px;
      height:48px;
      margin-top: 6px;
    }
    
    .tweetText{
      font-size:11px;
    }
  }
}
.qtip{
    font-family:Helvetica,Arial,sans-serif;
    font-weight:bold;
}

.cell{
  list-style:none;
  .smallBorderRadius;
  margin-bottom:5px;
  padding: 5px;
  h3, h4{
    border:none;
    margin-top:0px;
    margin-bottom:0px;
  }
  p{
    margin:0px;
    font-size:13px;
  }
  .solidBorder();
}

.repo{
  .cell;
}

.jobCell{
    .cell;
    cursor:pointer;
    .jobContent{
        line-height:14px;
        display:none;
        margin-top: 2px;
        margin-bottom: 2px;
  }
}

ul.cellContainer{
  margin: 0px;
  padding:0px;
}
