
/*
 * Colours
 */
@black : #000;
@white: #fff;
@darkBlue: #046;
@lightBlue: #3BF;

/*
 *  Numbers
 */
@headerHeight:50px;
@pageWidth:924px;
@pageHeight:668px;
@pageInset:50px;

@generalMargin:40px;

@contentWidth:@pageWidth -  @pageInset * 2;

/*
 * Generic Classes
 */
.smallBorderRadius{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.largeBorderRadius{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.largeDropShadows{
  -moz-box-shadow: 0 0 8px @black;
  -webkit-box-shadow: 0 0 8px @black;
  box-shadow: 0 0 8px @black; 
}

.blueBackground{
  background-image:url('./assets/header-bg.jpg');
}

.verticalGradient(@topColor: #fff, @bottomColor: #000){
  /*
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '{@topColor}', endColorstr = '{@bottomColor}');

  -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '@topColor', endColorstr = '@bottomColor')";
*/
  background-image: -moz-linear-gradient(top, @topColor, @bottomColor);
  background-image: -ms-linear-gradient(top, @topColor, @bottomColor);
  background-image: -o-linear-gradient(top, @topColor, @bottomColor);
  background-image: -webkit-gradient(linear, center top, center bottom, from(@topColor), to(@bottomColor));
  background-image: -webkit-linear-gradient(top, @topColor, @bottomColor);
  background-image: linear-gradient(top, @topColor, @bottomColor);
}
.blueVerticalGradient(){
  .verticalGradient(@darkBlue, @lightBlue);
}
.shadowForDarkBlueText{
    text-shadow: 0 1px 1px  darken(desaturate(@lightBlue, 30%),10%);
}


.fancyFont{
  font-family:"Museo Slab 100", Rockwell, Georgia, serif; font-weight:100; font-style:normal;
}

.clear{
  clear:both;
}

/*
 * Core elements
 */

body{
  font-family: 'Raleway', cursive;
  margin:0;
  line-height:22px;
  margin:0 auto;
  background-image:url('./assets/header-bg.png');
}

ul{
  padding:0 0 0 15px;
}

a{
  color:#ae3d26;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
hr{
  border:none;border-top:1px dotted #000;
}

.header{
  color:@darkBlue;
  text-shadow: 0 1px 1px  darken(desaturate(@lightBlue, 30%),10%);
 .verticalGradient(@lightBlue, @darkBlue);
  box-shadow: rgb(0, 0, 0) 0px 0px 8px;
  margin-bottom: @generalMargin;
  padding: 8px;
  
  h1{
    font-family: "Museo Slab", Rockwell, Georgia, serif;
    font-weight: 400;
    font-style: normal;
    display: inline;
    font-size: 34px;
    margin-left: 10px;
    line-height: 30px;
    letter-spacing: -2px;
  }
}

.page{
  .largeDropShadows;
  .largeBorderRadius;
  width: @pageWidth;
  height:@pageHeight;
  border-width:2px;
  border-style:solid;
  border-color:silver;  
  margin-left: auto;
  margin-right: auto;
  background-color: @black;
  font-size: 22px;
}

#content{
  .smallBorderRadius;
  .verticalGradient(#111);
  width:@contentWidth;
  height:@pageHeight -  @pageInset * 2;
  margin:@pageInset;
  border-color: #222;
  border-width: 1px;
  border-style: solid;
  color:@white;
}

.footer{
  .largeDropShadows;
  margin-top:@generalMargin;
  color: @darkBlue;
  .blueVerticalGradient;
  padding: 5px;
  h4{
    .fancyFont;
    margin:0px;
    float:right;
    .shadowForDarkBlueText;
  }
}

@tileWidth : (@contentWidth - 160) / 3;

.tile(@color){
  border-color: darken(@color, 30%); 
  color: darken(@color, 20%);
  &.hover{
    border-color: @color; 
    color:@color;
  }
  &.selected{
    border-color: @color; 
    color:@color;
  }
}

#detailContainer{
  clear:both;
  display:none;
}
@menuMargin: 20px;
@menuBorderWidth: 1px;
@menuPadding: 10px;
@menuTileMargin:10px;
#menu{
  
  width:@pageWidth -  @pageInset * 2;
  margin: @menuMargin;
  
  .square{
    width: @tileWidth;
    height: @tileWidth;
  }
  .selected{
    height:10px;
  }
  div{
    float:left;
    margin: @menuTileMargin;
    .smallBorderRadius;
    border-width: @menuBorderWidth;
    border-style: solid;
    text-align: right;
    padding: @menuPadding;
    line-height: 10px; 
  }
  .clear{
    width:0px;
    height:0px;
    display:none;
  }
  .deselected{
    width:0px;
    height:0px;
    font-size:0px;
    padding:0px;
  }
  .stage1{
    height: 10px;
    width: auto;
  } 
  .stage2{
    width:@contentWidth - ((@menuMargin * 2) + (@menuBorderWidth * 2) + (@menuPadding * 2) + (@menuTileMargin * 2));
    height:10px;
  }  
  .mobile{
    .tile(#F00);
  }
  .web{
    .tile(#FFA500);
  }
  .dev{
    .tile(#FF0);
  }
  .about{
    .tile(#F0F);
  }
  .job{
    .tile(#00F);
  }
  .git{
    .tile(#0F0);
  }
}