		<div class="header">
			<h1>Dominic Barker | Mobile / Web / Developer</h1>
			<div class="helpButton">?</div>
		</div>
		<div class="page">
			<div id='content'>
				<p>Nothing to see here!</p>
			</div>
		</div>
		<div class="footer">
			<h4>Mostly Harmless Design 2012</h4>
			<div class="clear"></div>
		</div>