<li class="jobCell">
    <h3>Developer</h3>
    <h4>Unomee</h4>
    <div class="jobContent">
        <p>
            Ecommerce and other fun things. 
        </p>
    </div>
</li>
<li class="jobCell">
    <h3>Associate Developer</h3>
    <h4>The Technology Studio / Earthware</h4>
    <div class="jobContent">
        <p>
            I helped to design and develop websites and mobile apps for a range of clients, but many of them are pharmaceutical or commerical propety companies.
        </p>
    </div>
</li>
<li class="jobCell">
<h3>CAD Manager / Developer</h3>
<h4>Akins</h4>
<div class="jobContent">
    <p>
        My team was an assortment of Graphic Designers and CAD / GIS technicans. I helped them do their jobs and wrote software for them to use.
    </p>
</div>
</li>
<li class="jobCell">
<h3>CAD Developer</h3>
<h4>Transport for London</h4>
<div class="jobContent">
    <p>
        I worked with external consultancies to enable them to work more easily with TfL, often by providing them with custom software solutions.
    </p>
</div>
</li>
<li class="jobCell">
<h3>CAD Developer</h3>
<h4>AECOM / Faber Maunsell</h4>
<div class="jobContent">
    <p>This job was much like the TfL one but with lots less money.</p>
</div>
</li>
<li class="jobCell">
<h3>Space Planner / Designer</h3>
<h4>Churchill Group Europe</h4>
<div class="jobContent">
    <p>I designed office spaces.</p>
</div>
</li>