<label>Genus:</label>
<select id="genusSelect" disabled="disabled">
	<option value="0">select a genus</option>
</select>
<label>Species:</label>
<select id="speciesSelect" disabled="disabled"></select>
<label>Found at:</label>
<div id="localeList" style="height:332px;" class="scrollContainer">
	<ul>
		
	</ul>
</div>