<div class="about detailContent">
	<div class="twoThirdsCol scrollContainer">
		<p>
			My name is Dom. Amoung other things I like to code. Luckily for me this is also my job. 
			It's not all I've ever done but it's the best balance of salubrity / financial reward / quality of office toys that I have found so far. 
		</p>
		<p>
			My other hobbies are reading (pop science / economics usually), cycling and curry. I live with rat x 1, cats x 3, fish x lots and wiminz x 1.
		</p>
		<p>
			There are lots of ways of getting hold of me, a few of which are detailed below. Email is best.
		</p>
		<a href="mailto:dom.barker808@gmail.com?subject=I saw your website and I thought it was RUBBISH!">dom.barker808@gmail.com</a>
		<a href="http://uk.linkedin.com/in/dombarker">LinkedIn</a>
		<a href="https://twitter.com/#!/MostlyHarmlessD">Twitter</a>
	</div>
	<div id="twitterContainer" class="thirdCol">
	</div>
</div>