<div class="about detailContent">
	<div class="twoThirdsCol">
		<p>Dom is great etc</p>
		<a href="mailto:dom.barker808@gmail.com?subject=I saw your website and I thought it was RUBBISH!">dom.barker808@gmail.com</a>
	</div>
	<div id="twitterContainer" class="thirdCol">
	</div>
</div>