<div class="web detailContent">
	<div class="thirdCol">
		<h2>Tools</h2>
		<ul>
			<li>Visual Studio</li>
			<li>ReSharper</li>
			<li>XCode</li>
			<li>MonoDevelop</li>
			<li>Illustrator / Photoshop</li>
		</ul>
		<h2>Techniques</h2>
		<ul>
			<li>Object Oriented Development</li>
			<li>
				Test / Behaviour Driven Development
				<ul>
					<li>Funcunit</li>
					<li>QUnit</li>
					<li>NUnit</li>
					<li>MSpec</li>
					<li>Rhinomocks</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="twoThirdsCol">
		<iframe src="http://riftmap.apphb.com/index.html"></iframe>
	</div>
</div>