<div class="job detailContent">
	<div class="halfCol">
		<h2>Job</h2>
		<p>
			I work for <a href="http://www.thetechnologystudio.co.uk" title="my current employer" alt="mobile and web development"> The Technology Studio</a> which is a funky little development agency in Letchworth, Hertfordshire.
			It has a sister brand, <a href="http://www.earthware.co.uk" title="my current employer" alt="interactive mapping">Earthware</a>, which specialises in interactive mapping.
		</p>
		<p>
			I'm very happy where I am, so I'm not looking for new job. Unless you wish to pay me 1 x bazillion $$ to play with kittens.
		</p>
	</div>
	<div class="halfCol">
		<h2>Places I have worked</h2>
		<ul class="cellContainer">
			<li class="jobCell">
				<h3>Associate Developer</h3>
				<h4>The Technology Studio / Earthware</h4>
			</li>
			<li class="jobCell">
				<h3>CAD Manager / Developer</h3>
				<h4>Akins</h4>
			</li>
			<li class="jobCell">
				<h3>CAD Developer</h3>
				<h4>Transport for London</h4>
			</li>
			<li class="jobCell">
				<h3>CAD Developer</h3>
				<h4>AECOM / Faber Maunsell</h4>
			</li>
			<li class="jobCell">
				<h3>Space Planner / Designer</h3>
				<h4>Churchill Group Europe</h4>
			</li>
		</ul>
	</div>
</div>