<div class="mobile detailContent">
	<div class="halfCol" style="width: 440px;margin-right: 20px;">
		<h2>iOS</h2>
		<p>
			<a href="http://www.apple.com/iphone/">iPhone</a> and <a href="http://www.apple.com/ipad/">iPad</a> applications.
		</p>
		<ul>
			<li>Native applications written in <a href="http://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/ObjectiveC/Introduction/introObjectiveC.html">Objective-C</a> with <a href="http://developer.apple.com/xcode/">XCode</a>.</li>
			<li><a href="http://xamarin.com/monotouch">MonoTouch</a> applications written in c# .NET with <a href="http://monodevelop.com/">MonoDevelop</a>.</li>
		</ul>
	
		<h2>Cross Platform</h2>
		<p><a href="http://phonegap.com/">Phonegap</a> HTML5 &amp; Javascript applications for Android, Apple and Blackberry devices.</p>
		<ul>
			<li><a href="http://jquerymobile.com/">JQuery Mobile</a></li>
			<li><a href="http://javascriptmvc.com/">Javascript MVC</a></li>
			<li><a href="http://knockoutjs.com/">Knockoutjs</a></li>
		</ul>
	</div>
	<div class="halfCol" style="width:300px">
		<iframe class="halfCol" src="http://riftdata.apphb.com/mobile" style="height:445px;width:300px"></iframe>
	</div>
</div>