<ul>
	<li>
		<h2>iOS</h2>
		<p>Native iPhone and iPad apps written in Objective C</p>
	</li>
	<li>
		<h2>Cross Platform</h2>
		<p>Phonegap HTML5 & Javascripts applications</p>
		<ul>
			<li>JQuery Mobile</li>
			<li>Javascript MVC</li>
			<li>Knockoutjs</li>
		</ul>
	</li>
</ul>