<div class="square mobile"><h2>Mobile</h2></div>
<div class="square web"><h2>Web</h2></div>
<div class="square dev"><h2>Developer</h2></div>
<div class="square about"><h2>About / Contact</h2></div>
<div class="square job"><h2>Job</h2></div>
<div class="square git"><h2>Github</h2></div>