<div class="square mobile">Mobile</div>
<div class="square web">Web</div>
<div class="square dev">Developer</div>
<div class="square about">About / Contact</div>
<div class="square job">Job</div>
<div class="square git">Github</div