
<a><div class="square mobile">Mobile</div></a>
<a><div class="square web">Web</div></a>
<a href="#!dev"><div class="square dev">Developer</div></a>
<a href="#!about"><div class="square about">About / Contact</div></a>
<a href="#!job"><div class="square job">Job</div></a>
<a href="#!git"><div class="square git">Github</div></a>