

<div id="twitterHeader">
	<a target="_blank" href="https://twitter.com/mostlyharmlessd" title="My twitter page, views expressed are almost certainly somebody elses; I'm impressionable like that you see.">@mostlyharmlessd</a>
</div>

<div class="spinContainer">
	<span class="spin loader"></span>
</div>
<div id="twitterNotificationContainer" style="display:none;"></div>
<div class="scrollContainer" style="height:436px">
	<div id="twitterListContainer"></div>
</div>