<div class="tweet about" <%= this %> style="display:none;">
	<div class="tweetImage">
		<img src="<%= this.user.profile_image_url_https %>" /> 
	</div>
	<div class="tweetText">
		<%== this.formatedText() %>
	</div>
</div>